@mixin candidate-boards-setting{
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin candidate-board-setting{
  width: 48%;
  box-shadow: 1px 1px 2px;
  background-color: white;
}

@mixin sm-user-name-setting{
  display: flex;
  align-items: center;
  padding: 5px 5px;

  img{
    width: 40px;
    height: 40px;
  }
  p{
  }
}
