$mainColor: #23AC0E;
$supportColor: #EBEDED;
$lightBlack:  #282e38;

$normalCharaColor: $lightBlack;

$headerAccent: #5EC84E;
$topBackground: $supportColor;
$userDashboard: #5EC84E; 

$buttonAccentColor: $mainColor;
// $buttonFloatColor


$basePageWidth: 70%;
$candidateBoardTopHeight: 300px;
