$mainColor: #6AD09B;
$mainColorAccent: #01A14E;
$supportColor: #EBEDED;
$lightBlack:  #434A54;

$normalCharaColor: $lightBlack;

$headerAccent:  $mainColorAccent;
$topBackground: $supportColor;
$userDashboard: $mainColor; 

$buttonAccentColor: $mainColorAccent;
// $buttonFloatColor


$basePageWidth: 70%;
$candidateBoardTopHeight: 300px;
