

.candidate-boards{
  @include candidate-boards-setting();
}

.candidate-board{
  @include candidate-board-setting();
  min-width: 300px;
  .candidate-board-top{
    position: relative;
    height: 300px;
    overflow: hidden;
    .candidate-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .candidate-detail{
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;

      // padding: 20px 30px;
      // background-color: rgba(#8E8E8E, 0.8);
      color: white;
      box-sizing: border-box;
      font-size: 1.2rem;
      &__title{
        position: absolute;
        padding: 2% 10% ;
        background-color: rgba(#8E8E8E, 0.8);
        display: inline-block;
        font-size: 1.5rem;
      }
      &__bar-graph{
        position: absolute;
        margin: 5%;
        width: 100%;
        bottom: 5%;
        .bar{
          background: linear-gradient(#40BFB0, #009F8C);
          border: solid 1px white;
          width: 15%;
          transition: 0.5s;
          height: 25px;
          position: relative;
        }
        .score{
          font-size: 2rem;
          position: absolute;
          right: 0px;
          bottom: -23px;
          text-shadow:#232232 1px 1px 0px, #232232 1px 1px 0px,
          #232232 1px 1px 0px, #232232 1px 1px 0px;
        }
      }
    }
  }
  .candidate-board-bottom{
    background-color: white;
    color: $normalCharaColor;
    .comments{
      padding: 20px;
      .comment{
        min-height: 100px;
        background-color: #C8EFEA;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        &__user{
          @include sm-user-name-setting();
          position: absolute;
          right: 20px;
          bottom: 0;
        }
      }
    }
  }
}

.poll-form{
  position: absolute;
  width: 100%;
  .poll-button{
    background-color: rgba(#009F8C, 0.9);
    margin: -30px 10%;
    padding:  2px 20px;
    border-radius: 10px;
    // bottom: 0;
    // right: 0;
    float: right;
    border: solid 1px white;
    text-decoration: none;
    color: white;
  }
}

